@font-face {
  font-family: 'Brandon';
  src: local('Brandon'), url(./fonts/BrandonGrotesqueCond-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Brandon';
  font-weight: 900;
  src: local('Brandon'), url(./fonts/BrandonGrotesqueCond-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Brandon';
  font-weight: 900;
  src: local('Brandon'), url(./fonts/BrandonGrotesqueCond-Black.otf) format('opentype');
}

.App {
  font-family: Brandon, Arial, serif;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
